body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #F1F1F1;
  font-family: sans-serif;
}
.heroImage {
  min-height: 80vh;
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url("https://ak.picdn.net/shutterstock/videos/1055155337/thumb/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}
.container {
  position: absolute;
  top: 10%;
  left: 25%;
  /* top: 10%;
  left: 10%; */
  /* transform: translate(-50%, -50%);  */
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.container h1 {
  font-size: 72px;
  letter-spacing: 0.2em;
  margin: 0;
}
.container h1 span {
  border: 10px solid #fff;
  padding: 6px 14px;
  display: inline-block;
}
.dropdowns{
  position: absolute;
  top: 20%;
  left: 25%;
  margin: 10rem auto;
}
.info {
  margin: 20px;
  display: block;
  font-size: 26px;
  text-shadow: 0 0 10px #000;
}
/* .btn {
  color: #313131;
  padding: 10px 24px;
  font-size: 20px;
  text-decoration: none;
  background: #F1F1F1;
  border-radius: 8px;
  transition: 0.3s all;
}
.btn:hover {
  opacity: 0.8;
} */


/* Form CSS */
form{
  font-size: 15px;
}
label[for="country"] {
  margin-left:5%;
}
input[type=submit]{
  margin-left: 3%;
  padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
}


footer {
  background: silver;
  padding: 30px;
}
.copyRight, .creators, .contact {
  text-align: center;
}