<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Outlet | Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="heroImage">
      <section class="container">
        <h1><span>News Outlet</span></h1>
      </section>
      <section class="search-section">
        <input  class="searchbar" type="text" placeholder="Search keywords or phrases">
      </section>
      <section class="dropdowns">
        <select name="Category" id="category">Select a category:
          <option value="Business">Business</option>
          <option value="General">General</option>
          <option value="Health">Health</option>
          <option value="Science">Science</option>
          <option value="Sports">Sports</option>
          <option value="Technology">Technology</option>
          <option value="Entertainment">Entertainment</option>
        </select>
        <select name="Country" id="country">Select a country:
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
        </select>
      </section>
    </section>
    <footer>
      <p class="copyRight">&copy; 2022 News Outlet</p>
      <p class="creators">Creators: Harold, Brenden, Emmanuel, Alannah</p>
      <p class="contact">
        Please Contact us <a href="mailto:info&newsoutlet.com">here</a>
      </p>
    </footer>
  </body>
  <script src="server.js"></script>
</html>

<!-- <select onClick="getDatafromApi([thevalueofthisselect])">
  //for loop over each country from the countries object/array
  <option>South Africa</option>
  <option>South Africa</option>
  <option>South Africa</option>
</select>

//ejs - server-side rendering
// -see if you can do server-side rerouting

getDataFromAPI(country) => {
  rerouteTo("/api/news?country=southafrica").then(response => {

  })
} -->
