<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Outlet | Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="heroImage">
      <section class="container">
        <h1><span>News Outlet</span></h1>
        <span class="info">Get news like you haven't experinced!</span>
        <a class="btn" href="product.html">Click here</a>
      </section>
    </section>
    <footer>
      <p class="copyRight">&copy; 2022 News Outlet</p>
      <p class="creators">Creators: Harold, Brenden, Emmanuel, Alannah</p>
      <p class="contact">
        Please Contact us <a href="mailto:info&newsoutlet.com">here</a>
      </p>
    </footer>
  </body>
</html>
