/* TYPE SCALE 
10 / 13 / 18 / 24 / 32 / 42 */

/* Resetting all page elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

/* Changing the background color */
body {
  background: #f1f1f1;
}

/* Styling the navigation menu */

header {
  width: 100%;
}

.mobile-nav {
  display: none;
}

.mainMenu {
  border-top: 1rem solid navy;
}
.mainMenu ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.mainSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logoSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainMenu,
a {
  text-decoration: none;
  color: #000;
  /* padding: 1rem 2rem; */
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.heroImage {
  width: 100%;
  /* min-height: 80vh; */
  height: 50rem;
  /* overflow: hidden; */
  background: url("https://ak.picdn.net/shutterstock/videos/1055155337/thumb/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}
.container {
  display: flex;
  flex-direction: column;
}
.heroImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* top: 10%;
  left: 10%; */
  /* transform: translate(-50%, -50%);  */
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.dropSelect {
  display: flex;
  gap: 3rem;
}
.catSpace,
.countrySpace {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heroImage h1 {
  font-size: 5.5rem;
  letter-spacing: 0.2em;
  margin-top: 1.5rem;
}
.heroImage h1 span {
  border: 1rem solid #fff;
  padding: 0.6rem 1.4rem;
  /* display: inline-block; */
  text-shadow: 0 0.6rem 1rem #000;
  /* margin-bottom: 15px; */
}
.dropdowns {
  /* position: absolute; */
  /* top: 20%;
  left: 25%;
  margin: 10rem auto; */
}
.info {
  margin: 2rem;
  /* display: block; */
  font-size: 2.6rem;
  text-shadow: 0 0 1rem #000;
}

/* Form CSS */
form {
  font-size: 1.5rem;
}
label[for="country"] {
  text-align: center;
  /* margin-left: 5%; */
}
button {
  padding: 0.7rem;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: white;
  border: 0.1rem solid black;
  cursor: pointer;
  border-radius: 0.2rem;
  text-transform: uppercase;
  color: black;
  width: 20rem;
  box-shadow: 0 0.3rem 1.5rem black;
}
#category[type="text"],
#country[type="text"] {
  padding: 0.5rem;
  border: 0.1rem solid white;
  border-radius: 0.6rem;
  background-color: white;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}

footer {
  background: #f1f1f1;
  padding: 6rem;
  font-weight: 500;
  border-top: 0.1rem dashed #212529;
}
.copyRight,
.creators {
  text-align: center;
  font-size: 1.3rem;
  margin: auto;
  padding: 1rem;
}

/*Setting the footer*/
/* .copyRight,
.creators {
  text-align: center;
  margin: auto;
  font-size: 1.4rem;
  padding: 1rem;
} */

/* NEWS PAGE */

/* 
Font Weights
300 / 400 / 500 / 700

TYPE SCALE 
10 / 13 / 18 / 24 / 32 / 42
 */

.res-submission p,
.res-submission h1,
.res-submission h2,
.res-submission h3,
.res-submission h4,
.res-submission a {
  font-family: "Ubuntu", sans-serif;
  color: #f1f1f1;
}

.res-submission h1 {
  font-size: 2.4rem;
}

.res-submission img {
  width: 100%;
}

.res-submission {
  background-color: #212529;
  width: 60%;
  margin: 3rem auto;
  /* border-radius: 1rem; */
  padding: 6rem;
  box-shadow: 0 0.5rem 1rem #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.res-title {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.res-author {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;

  display: flex;
  gap: 2rem;
  align-items: center;
}
.res-source {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
}
.res-description {
  font-size: 1.8rem;
  font-weight: 500;
}

.res-content {
  font-size: 2.4rem;
  font-weight: 500;
}

/* 1168PX */
@media screen and (max-width: 73em) {
  body {
    font-size: 1rem;
    font-weight: 500;
  }

  h1 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* 944PX */
@media screen and (max-width: 59em) {
  html {
    font-size: 56.25%;
  }

  h3 {
    font-size: 1.8rem;
  }
}

/* 768PX */
@media screen and (max-width: 48em) {
  body {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }
}

/* 540PX */
@media screen and (max-width: 34em) {
  html {
    font-size: 40%;
  }

  h1 {
    font-size: 2.4rem;
  }

  .dropSelect {
    flex-direction: column;
    gap: 0.5rem;
  }
  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: contents;
  }

  #mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 10vh;
    background-color: #f7f7f7;
    box-shadow: 0 0.5rem 1rem#000;
    position: fixed;
    inset: 0 0 0 0;
  }

  .res-submission {
    width: 100%;
  }

  .res-submission p {
    font-size: 1.8rem;
  }
  .res-content a {
    text-align: center;
  }
}
